PORT=5001
DEBUG=false
ZERODHA_API_KEY=your_kite_connect_api_key
ZERODHA_API_SECRET=your_kite_connect_api_secret
ZERODHA_ACCESS_TOKEN=generate_via_zerodha_login_flow
NEWS_API_KEY=get_free_key_from_newsapi.org
